<p id="notice"><%= notice %></p>

<h1>User Wishlists</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_wishlists.each do |user_wishlist| %>
      <tr>
        <td><%= user_wishlist.user.username %></td>
        <td><%= user_wishlist.project.title %></td>
        <td><%= link_to 'Show', user_wishlist %></td>
        <td><%= link_to 'Edit', edit_user_wishlist_path(user_wishlist) %></td>
        <td><%= link_to 'Destroy', user_wishlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Wishlist', new_user_wishlist_path %>
