<table>


  <thead>
  <tr>
    <th>Options</th>
    <th colspan="3"></th>
  </tr>
  </thead>

    <tr>
      <td><%= link_to 'User', users_path %></td>
    </tr>
    <tr>
      <td><%= link_to 'Projects', projects_path %></td>
    </tr>




    <thead>
    <tr>
      <th>Creator</th>
      <th>Title</th>
      <th>Description</th>
      <th>Goal amount</th>
      <th>Finish date</th>
      <th>Delivery date</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.user.username %></td>
        <td><%= project.title %></td>
        <td><%= project.description %></td>
        <td><%= project.goal_amount %></td>
        <td><%= project.finish_date %></td>
        <td><%= project.delivery_date %></td>
        </tr>
    <% end %>
    </tbody>


</table>
