

<body>
  <% @projects.each do |project| %>
<div class="project">

        <span><%= project.user.username %> is creating:</span>
        <span><%= image_tag("logos/logo.png", size: "200x35", alt: "Edit Entry")%></span>
        <span><%= project.title %></span>
        <span><%= project.goal_amount %></span>
        <span><%= project.finish_date %></span>

</div>
<% end %>

<p style="text-align: center; font-family: 'URW Bookman L;'">
  PunchStopper! is a webpage dedicated to<br>make people's dreams a reality via crowdfunding.<br>
  Our promise is to give the best, easy to use and highly effective <br> web application to the users.
</p>

</body>