

<body>
<div></div><br>
<div></div><br>
<div class="title">Trending Projects!</div>
<div></div><br>
<div class="grid-container">
  <% @projects.each do |project| %>
<div class="project">

        <span class="project_user"><%= project.user.username %> is creating:</span><br>
        <span class="project_image">
          <%= link_to (image_tag("dummy.jpg", size: "200x150", alt: "Edit Entry")), project %>
        </span><br>
        <span class="project_title"><%= project.title %></span><br>
        <span class="project_numbers"><%= project.goal_amount %></span>
        <span class="project_numbers"><%= project.finish_date %></span>

</div>
<% end %>
</div>

<p style="text-align: center; font-family: 'URW Bookman L;'">
  PunchStopper! is a webpage dedicated to<br>make people's dreams a reality via crowdfunding.<br>
  Our promise is to give the best, easy to use and highly effective <br> web application to the users.
</p>

</body>