<%= form_with(model: project, local: true) do |form| %>
  <div class="project_item">
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :project_title %>
  </div>

  <div class="field">
    <%= form.label :category_id, "Select Category" %>
    <%= form.collection_select :category_id, Category.all, :id, :username, prompt: "No Category", :selected => @project.category_id  %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :project_description %>
  </div>

  <div class="field">
    <%= form.label :goal_amount %>
    <%= form.number_field :goal_amount, id: :project_goal_amount %>
  </div>

  <div class="field">
    <%= form.label :finish_date %>
    <%= form.date_field :finish_date, id: :project_finish_date %>
  </div>

  <div class="field">
    <%= form.label :delivery_date %>
    <%= form.date_field :delivery_date, id: :project_delivery_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
