<p id="notice"><%= notice %></p>
<div class="project_item">
<% if current_user.present? %> 
	<% if params[:my_projects] %>
		<h1>My Projects<%= link_to 'New Project', new_project_path, :class => "btn btn-success", :style => "margin: 10px;" %></h1>
	<% else %>
		<h1>Projects<%= link_to 'New Project', new_project_path, :class => "btn btn-success", :style => "margin: 10px;" %></h1>
	<% end %>
<% elsif %>
	<h1>Projects</h1>
<% end %>
    <div>

		<%= form_tag(projects_path, method: :get, enforce_utf8: false) do %>
		  <%= text_field_tag :search, params[:search] %>
		  <% if params[:my_projects] %>
		  	<%= hidden_field_tag 'my_projects', true %>
		  <% end %>
		  <%= submit_tag 'Search Projects', name: nil %>
		<% end %>
	</div>
<div class="category">Filter by Categories:</div>
  <% if params[:my_projects] %>
     <%= link_to 'Outstanding', projects_path(my_projects: true,outstanding: true), :class => "btn btn-warning" %>
     <%= link_to 'Funded', projects_path(my_projects: true,funded: true), :class => "btn btn-warning" %>
  <% else %>
     <%= link_to 'Outstanding', projects_path(outstanding: true), :class => "btn btn-warning" %>
     <%= link_to 'Funded', projects_path(funded: true), :class => "btn btn-warning" %>
  <% end %>
<% @categories.each do |category| %>
  <% if params[:my_projects] %>
     <%= link_to category.username, projects_path(my_projects: true,category: category.id), :class => "btn btn-warning" %>
  <% else %>
     <%= link_to category.username, projects_path(category: category.id), :class => "btn btn-warning" %>
  <% end %>
<% end %>
<div></div><br>
	<div></div><br>
	</div>
	<div class="container">
		<div class="row">
			<% @projects.each do |project| %>
				<%= link_to project do %>
						<div class="col-lg-4" style="background-color: black; margin: 20px;">
							<div class="container-fluid" style="background-color: red; margin-top:15px; margin-bottom: 15px">
								<br>
								<div style="float: left; padding-right: 5px;">
									<%=image_tag(project.photo.url (:thumb), size: "200x150", alt: "Edit Entry")%>
								</div>
								<div>
									<span class="project_user"><%= project.user.username %> is creating:</span><br>
									<span class="project_title"><%= project.title %></span><br><br>
									<span class="project_numbers">Ending: <%= project.finish_date %></span>
								</div>
								<br>
							</div>
						</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
<br>

