<p id="notice"><%= notice %></p>

<div class="project_item">
<div class="col-xs-6">
	<div class="col-xs-5">
	<p>
	<% if current_user.present? %>
		<% if  @project.user.id != current_user.id || current_user.role %>
			<%= link_to 'Add to Wishlist', add_to_wishlist_path(@project.id), method: :get, :class => "btn btn-info" %>
		<% end %>
		<% if current_user.role %>
			<% if @project.outstanding? %>
				<%= link_to 'Remove Outstanding', make_outstanding_path(@project.id), method: :get, :class => "btn btn-danger" %>
			<% else %>
				<%= link_to 'Make Outstanding!', make_outstanding_path(@project.id), method: :get, :class => "btn btn-success" %>
			<% end %>
		<% end %>
	<% end %>
	</p>
	<h1>Project</h1>

	<p>
	  <strong>User:</strong>
	  <%= @project.user.username %>
	</p>

	<p>
	  <strong>Title:</strong>
	  <%= @project.title %>
	</p>

	<p>
	  <strong>Category:</strong>
	  <% if  @project.category_id.present? %>
		<td><%= @project.category.username %></td>
	  <% else %>
		<td><%= "" %></td>
	  <% end %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @project.description %>
	</p>

	<p>
	  <strong>Finish date:</strong>
	  <%= @project.finish_date %>
	</p>

	<p>
	  <strong>Delivery date:</strong>
	  <%= @project.delivery_date %>
	</p>

	<h2>Goal: <%= @project.goal_amount %></h2>
	<h2>Current Funding: <%= @sum %></h2>
	<h2>
	<% if @project.goal_amount<= @sum %>
	Funded!
	<%end%>
	</h2>
	
        <%= link_to 'Back', projects_path, :class => "btn btn-info" %>
	<% if  current_user.present? %>
		<% if  @project.user.id == current_user.id || current_user.role %>
			 <%= link_to 'Edit', edit_project_path(@project), :class => "btn btn-success" %>
                         <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
		<% end %>
	<% end %>
	</div>
	<div class="col-xs-1" style="margin-top: 100px; ">
		<%= image_tag @project.photo.url (:medium) %>
	</div>
</div>

<div >
	<div class="col-xs-3">
		<h2>Promises</h2>

		<table class="table table-bordered">
		  <thead>
			<tr>
			  <th>Description</th>
			  <th>Cost</th>
			  <% if current_user.present? %>
                                  <% if current_user.id != @project.user_id %>
     				      <th colspan="3"></th>
                                  <% end %>
			  <% end %>
			  
			</tr>
		  </thead>

		  <tbody>
			<% @project_promises.each do |project_promise| %>
			  <tr>
			    <td><%= project_promise.description %></td>
			    <td><%= project_promise.cost %></td>
			    <% if current_user.present? %>
                                  <% if current_user.id != @project.user_id %>
     				      <td><%= link_to 'Buy', fund_through_promise_path(@project.id, :promise_id => project_promise.id), method: :get, :class => "btn btn-info" %></td>
                                  <% end %>
			    <% end %>
			  </tr>
			<% end %>
		  </tbody>
		</table>
                <% if  current_user.present? %>
			<% if  @project.user.id == current_user.id || current_user.role %>
				 <%= link_to 'Add Promise', add_promise_path(@project), :class => "btn btn-success" %>
				 <%= link_to 'Back this project with money!', add_funding_path(@project), :class => "btn btn-success" %>
			<% end %>
		<% end %>

		</div>
	</div>
</div>

