<!DOCTYPE html>
<html>
  <head>
    <title>PunchStopper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <h1  align="center">
    <%= image_tag("logos/logo.png", size: "200x35", alt: "Edit Entry")%>
    </h1>
    <p align="center">Where the punches stop, and the kicks start</p>
    <ul>
	  <li><a href="">Projects</a></li>
	  <li><a href="">Wishlist</a></li>
	  <li><a href="">Profile</a></li>
	</ul>
  </head>

  <body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
